// move these into component?

$slideBgColor: #ffffff4d;
$slideBallColor: #ebebeb;
$slideBallIconColor: rgb(9, 31, 59);
$slideTextColor: #3a3d55;
$successColor: #053505;
$errorColor: #801111;

* {
    user-select: none;
    -webkit-tap-highlight-color: transparent;
}

@mixin center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.slider-container {
    position: relative;
    margin: 20px;
    background-color: #ffffff4d;
    width: 90%;
    height: 80px;
    border-radius: 40px;
    @include center;
}

.slider {
    position: absolute;
    // left: -10px; // defined in component, so the value can be used in functions
    background-color: $slideBallColor;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    cursor: pointer;
    @include center;
    &.unlocked {
        width: 100%;
        height: inherit;
        border-radius: inherit;
    }
}

.icon {
    color: $slideBallIconColor;
    &.loading {
        height: 60%;
        animation: spin 1s infinite linear;
    }
    &.success {
        color: $successColor;
    }
    &.error {
        color: $errorColor;
    }
}

@keyframes spin {
    from {
        transform: rotate(0);
    }
    to {
        transform: rotate(360deg);
    }
}

.text {
    color: $slideTextColor;
    font-size: 24px;
    text-transform: uppercase;
    &.success {
        color: $successColor;
    }
    &.error {
        color: $errorColor;
    }
}

@media screen and (max-width: 580px) {
    .slider-container {
        padding-left: 100px;
        justify-content: flex-start;
    }
}

.arrows {
    position: absolute;
    left: 100px;
    & * {
        margin-right: -20px;
        color: $slideTextColor;
        animation: pulse 1.6s steps(20) infinite;
        &:nth-child(4) {
            animation-delay: 0.6s;
        }
        &:nth-child(3) {
            animation-delay: 0.4s;
        }
        &:nth-child(2) {
            animation-delay: 0.2s;
        }
        &:nth-child(1) {
            animation-delay: 0s;
        }
    }
}

@keyframes pulse {
    from {
        opacity: .2;
    }
    25% {
        opacity: .45;
    }
    to {
        opacity: .2;
    }
}
